<router-outlet />
<app-autocomplete></app-autocomplete>
<app-badge></app-badge>
<app-bottom-sheet></app-bottom-sheet>
<app-button></app-button>
<app-button-toggle></app-button-toggle>
<app-card></app-card>
<app-checkbox></app-checkbox>
<app-chips></app-chips>
<app-date-picker></app-date-picker>
<app-dialog></app-dialog>
<app-divider></app-divider>
<app-expansion-panel></app-expansion-panel>
<app-form-field></app-form-field>
<app-gris-list></app-gris-list>
<app-icons></app-icons>
<app-inputs></app-inputs>
<app-lists></app-lists>
<app-menu></app-menu>
<app-paginators></app-paginators>
<app-progress-bar></app-progress-bar>
<app-progress-spinner></app-progress-spinner>
<app-radio-button></app-radio-button>
<br>
<app-ripples></app-ripples>
<br>
<app-select></app-select>
<br>
<app-side-nav></app-side-nav>
<br>
<app-slide-toggle></app-slide-toggle>
<br>
<app-slider></app-slider>
<br>
<app-snack-bar></app-snack-bar>
<br>
<app-stepper></app-stepper>
<br>
<app-tabble></app-tabble>
<br>
<app-tabs></app-tabs>
<br>
<app-tool-bar></app-tool-bar>
<br>
<app-tree></app-tree>

